<div class="container">

<h1>Nos cocktails</h1>


    <% @cocktails.each do |cocktail| %>

 <div class="card-product my-4">
  <img src="https://images.unsplash.com/photo-1546173159-315724a31696?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80""/>
  <div class="card-product-infos">
      <h3><%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail_name" %></h3>
      <ul>
      <%cocktail.doses.each do |dose|%>
      <li><%= "Ingredient : #{dose.description} de #{dose.ingredient.name}" %></li>
      <%end%>
      </ul>
  </div>
</div>
      <% end %>
  <%= link_to  "Create a new Cocktail", new_cocktail_path, class: "btn btn-primary" %>
<div>