// Specific CSS for your home-page
h1, h3 {
  color: rgb(0, 160, 172);
}
.drink {
  color: rgb(0, 160, 172);
  font-size: 78px;
}

.remove-link {
  text-decoration: none;
  color: rgb(0, 160, 172);
  &:hover {
    font-weight:bolder;
    transition: 0.5 ease;
    text-decoration: none;
    color: rgb(0, 160, 172);
  }
}
a.cocktail_name {
  text-decoration: none;
  color: rgb(0, 160, 172);
  opacity:0.7;
  transition: 0.5s ease;
  &:hover {
    opacity:1;
  transition: 0.5s ease;
  }
}

.btn {
  background-color:   rgb(0, 160, 172);
  opacity:0.7;
  transition: 0.5s ease;
  border: none;
  &:hover {
    background-color: rgb(0, 160, 172);
    opacity:1;
    transition: 0.5s ease;
  }
}

.img-show {
  margin-bottom: 30px;
}

.fal {
  height: 50px;
}